NOTION_TOKEN=your_notion_integration_token_here

NOTION_DATABASE_ID=329f7ecb-bb9b-8018-b303-f2175c7cbb21
NOTION_CONTENT_DB_ID=329f7ecb-bb9b-8018-b303-f2175c7cbb21
NOTION_TASKS_DB_ID=343f7ecb-bb9b-802c-b08a-daf9cff75672
NOTION_SECTORS_DB_ID=32df7ecb-bb9b-80f2-9f75-d82bda1944fc

NEXT_PUBLIC_BASE_URL=https://your-vercel-url.vercel.app
